index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
bucket_name="5p0vda6gtp33nq0fjublyalt56s7ylih"
user_uuid="1a2b3c4d-5e6f-7abc-9abc-1234567890ab"
content_version=2